*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/java/bluetooth/arduino/domacoski/tl/bluetooth/MainActivity.java
/app/
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
